################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BigTree/v16
/bin/Debug/net45
/obj/Debug/net45
/.vs/BigTree/DesignTimeBuild
